/*每个页面公共css */
.page-content {
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	background: #FFFFFF;
}

/* 性别图片大小*/
.sex-image {
	width: 40rpx;
	height: 40rpx;
}

/* 文本过长自动省略 */
.text-hidden {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}