/*每个页面公共css */
.page-content {
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	background: #FFFFFF;
}

/* 性别图片大小*/
.sex-image {
	width: 40rpx;
	height: 40rpx;
}

/* 文本过长自动省略 */
.text-hidden {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.text-my-red {
	color: #ff4a2d;
}

.bg-text-red {
	background-color: #ff4a2d;
	color: #ffffff;
}

.bg-text-red.light {
	color: #ff4a2d;
	background-color: #f9d7ea;
}

.dotted-top {
	border-top: 1px dotted #d2dfe6;
}

.userAvatar{
	width: 60rpx;
	height: 60rpx;
	border-radius: 50%;
}

.text-wrap {
	word-break: break-word;
}

.text-nowrap {
	white-space: nowrap;
}

.margin-center {
	margin: 0 auto;
}